<!DOCTYPE html>
<html lang="en">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

<head>

</head>
<body>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listening</title>
    <p>Insert web page:</p>
    <form id="listenForm" method="post">
        <input name="webURL" id="webURL" type="text" placeholder="https://www.google.com">
        <input type="submit" value="Submit">
    </form>
</body>
</html>